* {
  margin: 0px;
  padding: 0px; }

/* ----Mobile and Tablet Version---- */
/* ----Desktop Version---- */
@font-face {
  font-family: bebasneue;
  src: url(../fonts/BebasNeue-Regular.ttf); }

@font-face {
  font-family: cookie;
  src: url(../fonts/Cookie-Regular.ttf); }

@font-face {
  font-family: crete;
  src: url(../fonts/CreteRound-Regular.ttf); }

.bodyimg {
  vertical-align: middle;
  justify-content: right; }

.img__bannertxt {
  width: 2.5rem;
  vertical-align: middle;
  margin-bottom: 0.6rem; }

.img__logo {
  width: 7rem; }

.img__principal {
  border-radius: 5%;
  align-items: center;
  text-align: center; }

.img__quienesomos {
  width: 50%;
  margin-left: 10px;
  border-radius: 5%;
  align-self: center;
  justify-self: center; }

.rotacion {
  transform: rotate(3deg);
  margin-top: 1rem;
  margin-bottom: 1rem; }

.img__fondoPr {
  background-image: url(../images/fondoImgPrincipal.jpg);
  background-size: cover;
  border-top: 10px solid #FFE4C4;
  border-right: 10px solid #CCB597;
  border-bottom: 10px solid #FFE4C4;
  border-left: 10px solid #CCB597;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.img__redes {
  width: 5rem; }

ul {
  list-style: none; }
  ul li {
    display: inline;
    padding: 15px; }
    ul li a {
      color: whitesmoke;
      text-decoration: none;
      font-size: 1.2rem; }
      ul li a:hover {
        color: gold;
        font-weight: bold;
        text-decoration: dotted;
        border: gold 5px inset;
        border-radius: 4px;
        padding: 10px;
        transition-duration: 0.4s; }

.nav__menu {
  text-decoration: none;
  margin: 0.5rem;
  font-family: cookie;
  vertical-align: middle; }

body {
  background-color: #383838;
  background-image: url(../images/fondo2.jpg);
  background-size: cover;
  padding: 7rem; }

h1 {
  font-size: 1.25rem;
  font-family: bebasneue; }

h2 {
  font-size: 1.25rem;
  font-family: crete;
  color: whitesmoke; }

h3 {
  font-size: 1rem;
  font-family: crete;
  color: whitesmoke; }

h4 {
  font-size: 0.75rem;
  font-family: crete;
  color: whitesmoke; }

.txt__center, .txt__main, .txt_cata {
  align-items: center;
  text-align: center;
  justify-content: center; }

.txt__main {
  background-color: bisque;
  border-radius: 1rem;
  margin: 10px 0 10px 0; }

.txt_cata {
  color: bisque;
  font-family: crete;
  font-size: 0.75rem; }

.cuadroContacto {
  margin: 5px;
  padding: 5px; }

.icons-wrapper {
  position: relative;
  margin: 1rem; }

.icons-wrapper::after {
  content: '';
  position: absolute;
  transform: translateX(-50%); }

.icon {
  display: inline-block;
  font-size: 1rem;
  animation: float 3s ease-in-out infinite;
  margin: 1rem; }

.ri_size {
  width: 3rem; }

.ri-instagram-line {
  animation-delay: 0.5s; }

.ri-whatsapp-line {
  animation-delay: 0.8s; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
    font-family: bebasneue; }
  h2 {
    font-size: 2.5rem;
    font-family: crete;
    color: whitesmoke; }
  h3 {
    font-size: 2rem;
    font-family: crete;
    color: whitesmoke; }
  h4 {
    font-size: 1.5rem;
    font-family: crete;
    color: whitesmoke; }
  .txt__centerL, .txt_cata {
    align-items: center;
    text-align: center;
    justify-content: center; }
  .txt_cata {
    color: bisque;
    font-family: crete;
    font-size: 1.5rem; } }

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #e8e8e8;
  z-index: 1;
  background: #212121;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  margin: 10px 0px 10px 0px; }

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: gold;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms; }

button:hover {
  color: #212121; }

button:hover::before {
  width: 100%; }

.footer {
  padding: 10px;
  font-family: crete;
  border-radius: 1rem;
  font-size: 0.75rem; }

.box {
  background-color: bisque;
  color: black;
  box-shadow: 1.3px 1px 1.7px rgba(0, 0, 0, 0.065), 3px 2.3px 3.8px rgba(0, 0, 0, 0.094), 5.2px 4px 6.5px rgba(0, 0, 0, 0.116), 8.3px 6.4px 10.2px rgba(0, 0, 0, 0.135), 12.8px 9.9px 15.5px rgba(0, 0, 0, 0.154), 19.9px 15.4px 23.4px rgba(0, 0, 0, 0.176), 33px 25.5px 36.5px rgba(0, 0, 0, 0.205), 66px 51px 67px rgba(0, 0, 0, 0.271); }
