.footer {
    padding: 10px;
    font-family: crete;
    border-radius: 1rem;
    font-size: $h4;
}

@mixin caja ($color_background, $color_font, $sombreado) {
    background-color: $color_background;
    color: $color_font;
    @if $sombreado {
        box-shadow:   
        1.3px 1px 1.7px rgba(0, 0, 0, 0.065),
        3px 2.3px 3.8px rgba(0, 0, 0, 0.094),
        5.2px 4px 6.5px rgba(0, 0, 0, 0.116),
        8.3px 6.4px 10.2px rgba(0, 0, 0, 0.135),
        12.8px 9.9px 15.5px rgba(0, 0, 0, 0.154),
        19.9px 15.4px 23.4px rgba(0, 0, 0, 0.176),
        33px 25.5px 36.5px rgba(0, 0, 0, 0.205),
        66px 51px 67px rgba(0, 0, 0, 0.271)
        ;
    }
}

.box{
    @include caja(bisque, black , true )
}