@font-face{
    font-family:bebasneue;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face{
    font-family:cookie;
    src: url(../fonts/Cookie-Regular.ttf);

}

@font-face{
    font-family:crete;
    src: url(../fonts/CreteRound-Regular.ttf);
}